{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdn.tutorialjinni.com/showdown/1.9.1/showdown.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
  <script src="{{ url_for('static',filename='show_posts.js') }}"></script>

{% endblock %}
{% block content %}
<form class="form-horizontal" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Creating posts</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Blog name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="blog_type">Blog type</label>
  <div class="col-md-4">
    <select id="blog_type" name="blog_type" class="form-control">
      {% for type in types %}
      <option value="{{ type }}">{{ type }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="content">Content</label>  
  <div class="col-md-6">
    <textarea  id="editor" name="content" class="form-control input-md"></textarea>
    <div id="targetDiv"></div>
  </div>
</div>


<!-- longditude input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="content">Longditude</label>  
  <div class="col-md-6">
    <input id="longditude" name="content" class="form-control input-md"></input>
  </div>
</div>


<!-- latitude input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="content">Latitude</label>  
  <div class="col-md-6">
    <input id="latitude" name="content" class="form-control input-md"></input>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

<input class="btn btn-primary" type="button" value="Preview" onclick="previewCoordinates();" />

<div id="previewLocation" style="height:100px; width=100px;"></div>

<script>

var markDownEditor = new SimpleMDE({ element: document.getElementById("editor") });
function setCoordinates(position) {
    document.getElementById("latitude").value = position.coords.latitude;
    document.getElementById("longditude").value = position.coords.longitude;
    previewCoordinates();
}
function previewCoordinates() {
  document.getElementById("previewLocation").innerHTML = "";
  renderMap("previewLocation", document.getElementById("latitude").value, document.getElementById("longditude").value);
}
navigator.geolocation.getCurrentPosition(setCoordinates);
</script>
{% endblock %}
